:local(.links) {
  margin-right: 20px;
  ul {
    list-style: none;
    li {
      margin: 6px;
      padding: 8px 15%;
      border: 1px solid black;
      border-radius: 3px;
      height: 13px;
      background-color: #666;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}